<a href="https://colab.research.google.com/github/Pingberry/Introduction-to-Computers-/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
i = 0
result = 0
while i <= 50:
    if i % 2 != 0:
        result += i
    i+=1
print("0~50的奇數和結果是%d" % result)

0~50的奇數和結果是625

In [3]:
i = 0
result = 0
while i <= 50:
    if i % 2 == 0:
        result += i
    i+=1
print("0~50的偶數和結果是%d" % result)

0~50的偶數和結果是650

In [4]:
n = int(input("請輸入正整數："))
for i in range(1, n+1):
    for j in range (i, n+1):
        print ("*", end="")
    print()

請輸入正整數：10
**********
*********
********
*******
******
*****
****
***
**
*

In [5]:
sum = 0
for i in range(0, 101):
    if(i%3==0 or i%7==0):
        sum += i
print("數值 1~100 中，所有是 3 或 7 倍數之總和 =", sum)

數值 1~100 中，所有是 3 或 7 倍數之總和 = 2208

In [7]:
p=1
counter=0
n = int(input("請輸入正整數："))
print (n, "的因數有", end=" ")
while (p<=n):
    if (n%p==0):
        print(p, end=" ")
        counter+=1
    p+=1

print()
if (counter==2):
    print(n,"是質數")
else:
    print(n,"不是質數")

請輸入正整數：3
3 的因數有 1 3
3 是質數

In [8]:
list1 = [1,2,3,4,5]

In [9]:
list1

[1, 2, 3, 4, 5]

In [10]:
list2 = ["香蕉","蘋果","橘子"]

In [11]:
list2

['香蕉', '蘋果', '橘子']

In [12]:
list3 =[1,"香蕉", True]

In [13]:
list3

[1, '香蕉', True]

In [14]:
print(list1)

[1, 2, 3, 4, 5]

In [16]:
print(list1[0])

1

In [17]:
print(list1[1])

2

In [18]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [19]:
list4 = ["香蕉","蘋果","橘子"]

In [20]:
print(list4[1])

蘋果

In [21]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [22]:
print(list4[3])

IndexError: ignored

In [23]:
print(list4[-1])

橘子

In [24]:
print(list4[-2])

蘋果

In [25]:
print(list4[-3])

香蕉

In [26]:
print(list4[-4])

IndexError: ignored

In [27]:
list5 = [["tom", "1234"]], ["mary","abcd"],["david","5678"]

In [28]:
print(list5[1])

['mary', 'abcd']

In [29]:
print(list5[0])

[['tom', '1234']]

In [30]:
print(list5[1][1])

abcd

In [31]:
print(list5[0][0])

['tom', '1234']